.float{
    position: fixed;
    top: 90.7% !important;
    right: 38px;
}
.img-btn{
    content: "";
    cursor: pointer;
    background-image: url(https://siman.vtexassets.com/arquivos/chat-bubb.png);
    background-repeat: no-repeat;
    background-size: 54px;
    width: 54px;
    height: 54px;
    display: block;
}
@media screen and (max-width: 1025px) {
    .float{
    display: flex;
    justify-content: center;
    position: inherit;
    width: 54px;
    }
    .img-btn{
    background-size: 28px;
    width: 28px;
    height: 28px;
    background-image: url(https://siman.vtexassets.com/arquivos/chat-image.png);
    }
}